.hidden {
  opacity: 0;
  filter: blur(4px);
  transform: translateX(-100%);
  transition: all 2s ease-in-out;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 2s ease-in-out;
}

.gradient {
  filter: contrast(190%) brightness(150%);
  background: radial-gradient(
      circle at 50% 50%,
      rgb(101, 1, 1),
      rgb(139, 88, 82)
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 279 279' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.71' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
