.figma_embed {
  position: relative;
  display: flex;
  width: 100%;
  height: 1000px;
  justify-content: center;
  a {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 1;

    mix-blend-mode: difference;
    background-blend-mode: darken;

    color: white;
    background: transparent;

    &:hover {
      background: #121313;
    }
  }
}
